<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h2>성별고르기</h2>
        <input type="radio" id="man" v-model="gender" value="남자">
        <label for="man">남자</label>
        <input type="radio" id="woman" v-model="gender" value="여자">
        <label for="woman">여자</label>

        <p>나의 성별은 {{gender}}</p>
    </div>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                gender: ''
            },
            methods: {
            }
        })
    </script>
</body>

</html>