<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            이메일 수신 동의
            <input type="checkbox" v-model="email">
        </div>
        <div>
            로봇 인가요?
            <input type="checkbox" v-model="robot" true-value="Y" false-value="N">
        </div>
    </div>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                email: false,
                robot: "Y"
            },
            methods: {
            }
        })
    </script>
</body>

</html>