<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="name2" placeholder="이름 입력">
        <button @click="send">전송</button>
        <input type="text" v-model="name" placeholder="이름 입력2" @keyup.enter="send">
    </div>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                name: ''
            },
            methods: {
                greet(msg) {
                    alert(`Hello ${msg}`)
                },
                send() {
                    alert(`${this.name}`);
                },
                sendMsg2() {
                    event.preventDefault();
                    alert('막아')
                },

            }
        })
    </script>
</body>

</html>